<%- include('../partials/header') %>
    <table id="fullList">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Prep Time(in minutes)</th>
                <th>Cook Time(in minutes)</th>
                <th>Ingredients</th>
            </tr>
        </thead>
        <tbody>
            <% recipeDocs.forEach(function(r) { %>
                <tr>
                    <td>
                        <a href="/recipes/<%= r._id %>">
                            <%= r.recipeName %>
                        </a>
                    </td>
                    <td>
                        <%= r.prepTime %>
                    </td>
                    <td>
                        <%= r.cookTime %>
                    </td>
                    <td>
                        <%= r.ingredients %>
                    </td>
                </tr>
                <% }); %>
        </tbody>

    </table>
    <%- include('../partials/footer') %>